[Unit]
Description=Service
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/java -jar /opt/prod/kursspring-0.0.1-SNAPSHOT.jar
restert=on-failure

[Install]
WantedBy=multi-user.target